*{
    margin:0px;
}
.header{

    box-shadow: 0px 2px 9px gray;
    display: flex;
    justify-content: space-around;
}
.nav-pages{
    display: flex;
    justify-content: space-around;
    
}
.nav-pages div{
    margin: 30px 20px;
    
}
.nav-pages div a{
    text-decoration: none;
    color: black;
}
.space{
    width: 150px;
}
#carouselExample{
    height: 500px;
}
.inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.carousel-img-fixed {
    width: 100%;
    max-width: 320px;
    max-height: 320px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}